#topNav {
  background-color: #4444bb;
  padding: 1vw;
  display: flex;
  border: solid pink;
  justify-content: space-between;
  align-items: center;
  font-size: .75rem;
}


a {
  color: white;
  padding: .5rem;
  text-decoration: none;
  border-right: solid white 1px;
}
a svg {
  vertical-align: middle;
}
